.authFormContainer {
    margin: 0 auto;
    width: 27.5rem;
}

.label {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
    color: black;
}

.input {
    line-height: 2.375rem;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.25rem;
}

.button {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.25rem;
    letter-spacing: 0.2rem;
}
