.text {
    /* font-family: 'Luckiest Guy', cursive; */
    font-family: 'Coiny', cursive;
    color: white;
    font-size: 4.5rem !important;
    margin-left: 4rem;
    margin-top: 20rem;
    text-align: center;
}
