.card {
    background-color: #ffda87f2 !important;
}

.form {
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 0.15rem;
    height: 3.375rem !important;
}

.quizTitle {
    font-family: 'Coiny', cursive;
    font-size: 1.55rem !important;
    letter-spacing: 0.3rem;
    line-height: 2rem;
}

.button {
    font-size: 1.5rem !important;
}
