html,
body,
#root {
    height: 100%;
}

body {
    background-image: url('https://thumbs.gfycat.com/AlarmingIndolentCaracal-small.gif');
    background-color: #cccccc;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.min-100 {
    min-height: 100%;
}
