.navLink,
.navLink > a {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5rem;
    color: black !important;
    letter-spacing: 0.2rem;
}

.navLink:hover,
.navLink:hover > a {
    color: white !important;
}
